.container{
    display: flex;
}
.square {
    height: 30px;
    width: 150px;
    background-color:lightslategray;
  }
.semester_title {
    font-family:'Courier New', Courier, monospace
}
.year_title {
    font-family:'Courier New', Courier, monospace
}